
<div class="row">
  <div class="col-3">
  <ul class="list-group">
    <li *ngFor="let categoryItem of categoryList" class="list-item-group">
      {{categoryItem.name}}
    </li>
  </ul>
  </div>
  <div class="col">
      <ng-container *ngFor="let item of productList; let i=index">
          <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{item.imageUrl}}">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">{{item.price | currency:'USD':symbol}}</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
          </div>
          <div *ngIf="(i+1)%2===0" class="w-100"></div>
      </ng-container>
  </div>
  <!-- <div class="col-3">Category</div> -->
</div>